/**
* @copyright 2018 - Max Bebök
* @author Max Bebök
* @license GNU-GPLv3 - see the "LICENSE" file in the root directory
*/

@font-face 
{
    font-family: "open-sans";
    src: url("../fonts/open_sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.hidden
{
    display: none;
}

.no-user-select {
    -webkit-user-select: none;
}

.window #main-sidebar-right
{
    background-image: url("./../assets/img/bg/ice_spear_blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;

}

.window td, .window th
{
    __user-select: initial;
}

.window .sidebar
{
    overflow-x: auto;
    overflow-y: auto;
    min-width: 0;
}

.window .list-group-scroll
{
    overflow-x: auto;
}

.window .list-group-item
{
    opacity: 1;
    transition: background-color .15s ease-in-out, color .15s ease-in-out, filter 0.15s ease-in-out;
}

.window .list-group-item .text-light
{
    opacity: 0.7;
    margin-left: 2px;
}

.window .toolbar-actions button,
.window .toolbar-actions button span
{
    cursor: pointer;
}

.hex-editor td, .hex-editor th
{
    padding: 2px 6px;
    text-align: center;
}

.window .form-control.dynamic-input
{
    margin: 6px;
    width: calc(100% - 12px);
}

/** fluent transition between themes **/
.window,
.window table.table tbody,
.window input.form-control,
.window .sidebar,
.window .toolbar-actions,
.window header.toolbar,
.window button.btn,

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb
{
    transition: background-image .5s cubic-bezier(0.5,0.5, 1,1),
                background-color .5s cubic-bezier(0.5,0.5, 1,1),
                border-color     .5s cubic-bezier(0.5,0.5, 1,1),
                filter           .5s cubic-bezier(0.5,0.5, 1,1);
}

.window .list-group-item
{
    transition: border-color .5s cubic-bezier(0.5,0.5, 1,1);
}
