.tab-content
{
    margin: 10px 15px;
}

.drag-drop-dir input
{
    width: calc(100% - 70px);
}

.tab-content button
{
    margin-bottom: 2px;
    height: 32px;
}

.small-info-text 
{
    font-size: 10px;
    opacity: 0.6;
    margin-left: 4px;
}

.note-span
{
    margin-left: 68px;
}